@font-face {
    font-family: "sofia-regular";
    src: url(fonts/Sofia-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "roboto-slab";
    src: url(fonts/roboto-slab.ttf) format('truetype');
}
.heading-1{
    padding: 50px;
    color: rgb(5,16,88);
    border-bottom: 5px solid white;
}
#heading_1{
    font-size: 60px;
    font-family: sofia-regular;
    transition: 0.3s ease-out;
}
.heading-1 p{
    font-family: roboto-slab;
    font-size: 25px;
}
.types{
    background-color: rgb(5,16,88);
    color: aliceblue;
    padding: 50px;
    border-bottom: 5px solid white;
}
.types p{
    font-family: roboto-slab;
    font-size: 20px;
    display: inline-block;
}
.types h2{
    font-size: 35px;
}
.types h3{
    font-size: 25px;
}
.types ul{
    padding-left: 70px;
    padding-top: 20px;
}
.sun{
    margin-left: 90px;
    border: 3px solid white;
    border-radius: 300px;
}
.wind{
    margin-left:115px;
    border: 3px solid white;
    border-radius: 300px;
    margin-top: 20px;
}
.water{
    margin-left:100px;
    border: 3px solid white;
    border-radius: 300px;
    margin-top: 40px;
}
.coal{margin-left:100px;
    border: 3px solid white;
    border-radius: 300px;
    margin-top: 40px;

}
.petrol{ 
    margin-left:180px;
    border: 3px solid white;
    border-radius: 300px;
    margin-top: 40px;
}
.nuclear{
    margin-left:130px;
    border: 3px solid white;
    border-radius: 300px;
    margin-top: 40px;
}

.conserve{background-color: rgb(77, 39, 13);
    padding: 50px;
    color: aliceblue;
    border-bottom: 5px solid white;
}
.conserve h1{
    font-size: 60px;
    font-family: sofia-regular;
    transition: 0.3s ease-out;
}
.conserve p{
    font-family: roboto-slab;
    font-size: 20px;
}
.conserve h1:hover{
    color: pink;
    transition: 0.3s ease-in;
    transform: scale(1.03);
}
#heading_1:hover{
    color: rgb(200, 23, 53);
    transition: 0.3s ease-in;
    transform: scale(1.03);
}
.image-5{
    padding: 40px;
    border: 5px solid white;
    border-radius: 50px;
}